:root {
  --color-one: #b7b6b6;
  --color-two: #000;
  --color-three: #cfcfcf;
  --color-four: #f1f1f163;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container-base {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 60% 40%;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.container-right {
  margin-right: 2rem;
  border-left: thin solid;
  padding-left: 4rem;
  padding-top: 2rem;
  border-color: var(--color-three);
  display: grid;
  grid-template-rows: 35% 65%;
}

.title-principal {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.8rem;
  font-weight: bold;
}

.principal-image {
  width: 50%;
  border-radius: 1rem;
  margin-top: 1rem;
  filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
}

.description {
  text-decoration: underline;
  color: var(--color-one);
  margin-top: 0;
}

.description-date {
  font-style: italic;
  color: var(--color-one);
  background-color: var(--color-two);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1rem;
  margin-bottom: 0;
}

.container-definition {
  margin-bottom: auto;
  margin-top: auto;
}

.title-secondary  {
  text-transform: uppercase;
  margin-left: 2rem;
}

.description-proyect {
  line-height: 1.6;
  font-size: 1.1rem;
  font-weight: lighter;
  margin-top: 2rem;
}

.container-challenge {
  border-radius: 3rem; 
  background: var(--color-four);
  margin: 2rem;
}

.title-challenge {
  text-align: center;
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: 0.2rem;
  margin-top: 3rem;
}

.challenge-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;
}